# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Tailwind / PostCSS logs
.stylelintcache
.eslintcache

# Environment / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Metadata
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.swp
*.swo
