
:root {
    --primary200: #beb659;
    --primary400: #e8773b;
    --primary800: #444444;
    --primary900: #2f2f2f;

    --secondary100: #94e095;
    --secondary300: #85cb92;
    --secondary800: #070707;
    --secondary900: #101412;

    --tertiary200: lightblue;

    --grayscale000: #fff;
    --grayscale100: #cacfd4;
    --grayscale200: #a1a5aa;
    --grayscale700: #2c2d2e;
    --grayscale900: black;
}