
:root {
    --primary100: rgb(223, 216, 252);
    --primary200: rgba(193,177,255,1);
    --primary400: rgba(193,157,255,1);
    --primary800: #c19dff86;
    --primary900: rgb(28, 23, 40);
    
    --secondary100: #a1bcf5;
    --secondary300: #485a87;
    --secondary800: #1a202c;
    --secondary900: #101214;

    --grayscale000: #fff;
    --grayscale100: #cacfd4;
    --grayscale200: #a1a5aa;
    --grayscale700: #2c2d2e;
    --grayscale900: black;
}