/* global */

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    background-color: #101214;
    color: var(--grayscale200);
}

a {
    color: var(--grayscale200);
}

h1, h2 {
    color: white;
    margin-bottom: 16px;
}

.default-container {
    margin: 0 auto;
    padding-top: 32px;
    width: 80%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    flex-wrap: wrap;
}

/* Header */

header {
    background:linear-gradient(
        to right, 
        var(--primary900), 
        var(--secondary800)
    ), url(img/background-tile.png);
}

header a {
    font-size: 1.5rem;
    padding: 4px;
}

header h1 {
    font-size: 2.4rem;
    font-weight: lighter;
}

header h1 b {
    color: var(--primary800);
    font-weight: bold;
    background: linear-gradient(
        90deg, 
        var(--primary400) 0%, 
        var(--primary200) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header a {
    vertical-align: middle;
}

header hr {
    border: 0;
    padding: 0;
    margin: 0;
    height: 1px;
    background-image: linear-gradient(
        to right, 
        var(--primary800), 
        var(--secondary300)
    );
}

header p {
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin: 0;
}

header .flex-container-compact {
    display: none;
}

#avatar {
    max-width: 16%;
    height: 16%;
    margin-top: auto;
    padding-top: 84px;
    padding-right: 4%;
}

#avatar-text {
    max-width: 60%;
    padding: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

header .flex-container {
    padding-left: 0px;
}

/* Sections */

section h2 {
    font-size: 2.4rem;
    font-weight: lighter;
    color: var(--primary400);
}

section .content h3 {
    font-weight: lighter;
    margin-bottom: 4px;
    color: var(--primary100);
}

/* animations / utilities */

a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: white;
}

button a:hover {
    color: black;
}

button {
    background: var(--grayscale200);
	border: 1px solid var(--grayscale200);
    border-radius: 16px;
	cursor: pointer;
	outline: inherit;
    display: inline-block;
    padding: 4px 4px;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 16px;
}

button a {
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.icon {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    /* box-shadow: 0px 0px 4px 4px #68656b86; */
}

/* .tag-1 {
    font-size: 16px;
    background-color: #0e2716;
    border-radius: 8px;
    color: #129c42;
    text-align: center;
    display: inline-block;
    padding: 4px;
    padding-inline: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
} */

#section-skills .flex-container div {
    /* border: 1px solid #7A7C80; */
    background-color: var(--grayscale700);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
}

#section-projects .flex-container {
    column-gap: 8px;
}

#section-projects .content .project-content {
    padding-top: 16px;
    padding-bottom: 16px;
}

.screenshots {
    overflow: auto;
    white-space: nowrap;
    color-scheme: dark;
}

.screenshots img {
    height: 300px;
    border-radius: 16px;
    padding: 4px;
}

/* media queries */

@media(max-width:780px) {
    #avatar {
        max-width: 24%;
        margin-top: auto;
    }

    #avatar-text {
        max-width: 60%;
    }

    .default-container {
        width: 96%;
    }
}

@media(max-width: 500px) {
    #avatar {
        display: none;
    }

    #avatar-text {
        max-width: 96%;
        padding-top: 16px;
    }

    header .flex-container-compact {
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        flex-wrap: wrap;
    }

    #avatar-compact {
        max-width: 30%;
        margin-top: auto;
        padding-right: 4%;
    }

    #avatar-buttons-compact {
        margin-top: auto;
        margin-bottom: auto;
    }

    #avatar-buttons {
        display: none;
    }
}