h1 {
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

img, video {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-size: 1.1rem;
}

.container, .project-container {
  max-width: 768px;
  margin: auto;
  background-color: white;
  padding: 8px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

/*---------- PROFILE SECTION ----------*/
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 18px;
}

.profile h1 {
  padding: 0;
  margin: 0;;
}

.profile img {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  margin: 16px;
  padding: 4px;
}

ul.social-media-list {
  margin: 0;
  padding: 0;
}

ul.social-media-list li {
  display: inline-block;
  margin-right: 12px;
  list-style-type: none;
}

ul.social-media-list a {
  color: #333;
  text-decoration: none;
}

ul.social-media-list a:hover {
  color: #553df4;
}

.bubble-tags {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  flex-wrap: wrap;
}

.bubble-tags li {
  border: 1px rgba(0, 0, 0, 0.2) solid;
  padding: 4px;
  border-radius: 8px;
  margin-bottom: 8px;
  list-style-type: none;
}

button {
  position: fixed ;
  right: 0px;
}

/*---------- PROJECTS SECTION ----------*/

.projects a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 8px;
  text-decoration: none;
  padding: 8px 8px 8px 16px;
}

.product img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.product-description p, h3 {
  margin: 4px;
}

/*---------- INTERESTS SECTION ----------*/

.interests ul {
  column-count: 3;
  column-gap: 20px;
  padding: 8px 8px 8px 16px;
  list-style-type: none;
}

.interests li {
  margin-bottom: 8px;
}

/*---------- PROJECT SUBPAGE ----------*/

.project-container {
  padding: 16px 0px 16px 0px;
}

.project-container .project-header img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.project-container .links {
  padding: 16px 0px 16px 0px;
  gap: 24px;
  align-items: center;
}

.project-container .links  img {
  border: none;
  box-shadow: none;
}

.project-container .screenshots {
  padding-top: 16px;
  /* overflow: auto;
  white-space: nowrap;
  color-scheme: dark; */
}

.project-container .screenshots img, video {
  height: 300px;
  width: 138px;
  margin: 4px;
  border-radius: 16px;
}

/*---------- MEDIA SCREEN ----------*/

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }

  .interests ul {
    column-count: 2;
  }
}