/* global */

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Helvetica';
    /*Geneva','Optima', */
    background-color: #101214;
    color: #7A7C80;
    margin: 16px;
    /* position: absolute; */
    /* top: 50%; */
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

a {
    font-size: 1.5rem;
    padding: 4px;
    color: #7A7C80;
}

h1,
h2 {
    color: #fff;
    margin-bottom: 16px;
}

.section-container {
    margin: 0 auto;
    padding-top: 32px;
    /* border: 2px solid rgb(0, 255, 187); */
    width: 80%;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
}

header img {
    max-width: 300px;
    border-radius: 50%;
}

header h1 {
    font-size: 2.4rem;
    font-weight: lighter;
}

header h1 b {
    color: #c19dff;
    font-weight: bold;
}

header a {
    vertical-align: middle;
}

header p {
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin: 0;
}

/* Sections */
section h2 {
    font-size: 2.4rem;
    font-weight: lighter;
}

/* animations / utilities */
a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    background: white;
}

button {
    /* background: none; */
    background: #7A7C80;
	border: 1px solid #7A7C80;
    border-radius: 8px;
	/* font: inherit; */
	cursor: pointer;
	outline: inherit;
    display: inline-block;
    padding: 4px 4px;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 16px;
}

button a {
    /* color: #7A7C80; */
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.tag-1 {
    font-size: 16px;
    background-color: #0e2716;
    border-radius: 8px;
    color: #129c42;
    text-align: center;
    display: inline-block;
    padding: 4px;
    padding-inline: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.skill-block {
    display: flex;
    column-gap: 8px;
    flex-wrap: wrap;
}

.skill-block div {
    border: 1px solid #7A7C80;
    border-radius: 24px;
    padding: 8px;
    margin-bottom: 8px;
}

.skill-block-title {
    font-size: 1.2rem;
}

/* media queres */
@media(max-width:780px) {
    header {
        padding-top: 5rem;
        flex-direction: column;
    }

    header img {
        max-width: 180px;
        margin: 0 auto;
    }

    section {
        width: 100%;
        padding: 0;
    }
}