h1, h2 {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style-type: none;
}

hr {
  border: none;
  border-bottom: 1px solid #9b9b9b;
}

body {
  font-family: 'Quicksand', Courier, monospace;
  max-width: 768px;
  margin: auto;
}


.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 18px;
}

.profile img {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  margin: 16px;
  padding: 4px;
  border: 1px #949494 solid;
}

ul.social-media-list {
  margin: 0;
  padding: 0;
}

ul.social-media-list li {
  display: inline-block;
  margin-right: 12px;
}

ul.social-media-list a {
  color: #333;
  text-decoration: none;
}

.bubble-tags {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  flex-wrap: wrap;
}

.bubble-tags li {
  border: 1px #333 solid;
  padding: 4px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.projects a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 8px;
  font-size: 16px;
  text-decoration: none;
  padding: 8px 8px 8px 16px;
}

.product img {
  width: 48px;
  height: 48px;
  border: 1px rgb(147, 147, 147) solid;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.product-description p, h3 {
  margin: 4px;
}

.interests ul {
  column-count: 3;
  column-gap: 20px;
  padding: 8px 8px 8px 16px;
}

.interests li {
  margin-bottom: 8px;
}


@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }

  .interests ul {
    column-count: 2;
  }
}